@charset "UTF-8";

/* 로고 이미지 스타일 */
.img {
    width: 250px;
    height: 80px;
}

/* 헤더 스타일 */
header {
    height: 100px;
    width: 100%;
    background: #253a73;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    box-sizing: border-box;
}

/* 네비게이션 스타일 */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    width: 100%;
    left: 900px;
    bottom: -60px;
    top: 60px;
}

li {
    margin-right: 60px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    top: 15px;
    color: white;
    font-size: 16px;
}

ul.header_top {
    top: 50px;
}

.header_top2 {
    right: 370px;
}

/* Bootstrap의 기본 스타일을 재정의하여 드롭다운 메뉴에 맞게 스타일링 */
.dropdown-menu {
    background: #253a73;
     /* 배경색 맞추기 */
}

.dropdown-menu li a {
    color: black;
}
/* 드롭다운 메뉴의 화살표를 숨기기 */
.dropdown-toggle::after {
    display: none !important;
}
/* 드롭다운 메뉴를 눌렀을 때 헤더의 배경색을 하얀색으로 변경 */
.dropdown-menu.show {
    background: white;
}