<?xml version="1.0" encoding="UTF-8"?>
<!--Logback Extensions 기능 - logback-spring.xml 파일에서만 사용가능 - <springProfiles></springProfiles> 
	태그 활용 가능 - <configuration scan="true" scanPeriod="30 seconds"> 사용 불가 -->
<configuration>
	<!-- Console Appender -->
	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- File Appender -->
	<appender name="file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>myApp.log</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>myApp.%d{yyyy-MM-dd}.log</fileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Logger settings -->
	<logger name="kr.ac.icia" level="info" />
	<logger name="jdbc.resultsettable" level="debug" />
	<logger name="jdbc.sqlonly" level="debug" />

	<!-- Root logger -->
	<root level="debug">
		<appender-ref ref="console" />
		<appender-ref ref="file" />
	</root>
</configuration>